html {
    height: 100%;
  }

  body {
    background: rgba(175, 172, 193, 0.9);
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
  }
  #Random {
    margin: 5px;
    padding: 5px;
    background-color: #edb5b5;
  }

  .Random-Meal-Result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #myMeal {
    max-width: 650px;
    text-align: center;
    padding: 10px 10px 5px 10px;
    color: #fff;
    background-color: #696676;
    border: 4px solid #76738d;
    border-radius: 5px;
  }
  #myMeal h1 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  #myMeal img {
    max-width: 200px;
    border: 6px solid #edb5b5;
    border-radius: 150px;
  }
  #myMeal ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #myMeal li {
    padding: 15px 0;
    font-size: 18px;
  }
  #myMeal li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }

  .back{
    margin-right: 20px;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 0;
}
.back:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px #c70000;
    transition: .5s;
}