nav button {
    margin-right: 10px;
}

.cookbookbtn {
    margin-left: 10px;
    font-size: 30px;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.cookbookbtn:hover {
    color: #ffffffcb;
    text-shadow: 0 0 8px #ffee10;
    transition: .5s;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../images/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}
  
.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* adjust the opacity as needed */
}
 /* chanin images*/


.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#searchBar {
    width: 80%;
    margin-right: 10px;
}

#warning {
    display: none;
    color: red;
}


h1 {
  color: white;
  margin: 5px;

}

.results {
  max-width: 90%;
  text-align: center;
  padding: 10px 10px 5px 10px;
  color: #fff;
  background-color: #000000c0;
  border: 4px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
}

#searchResults {
  display: none;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 10px;
}

/* added the css for cookbook'*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
    margin-right: 20px;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 0;
}
.back:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px #c70000;
    transition: .5s;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.page-content {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* side bar working'*/
.sidebar {
  width: 30%;
  background-color: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.textInput {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.textInput:focus {
  outline: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #3E8E41;
}

.main-content {
  width: 70%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.main-content.active {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

.extra-bar {
  background-color: #ddd;
  padding: 20px;
  color: black;
}


@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .main-content {
    width: 100%;
    height: 70%;
  }
}

